<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="AAllen\Navigation\Model\ResourceModel\Link\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aallen_link</argument>
			<argument name="resourceModel" xsi:type="string">AAllen\Navigation\Model\ResourceModel\Link\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="aallen_link_grid_data_source" xsi:type="string">AAllen\Navigation\Model\ResourceModel\Link\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
