// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

/**
      Background
 */
body {
  background: linear-gradient(to bottom, rgb(214, 239, 255) 0%,rgba(255,255,255,1) 100%) no-repeat;
}

/**
      Header
 */
.header.content {
  text-align: center;
}
.logo {
  float: none;
  display: inline-block;
  margin: 0 0 @indent__s @indent__xl;
}

/**
      Footer
 */
.footer .copyright {
  text-align: center;
}

/**
      Sub Images
 */
.sub-image-wrapper {
  text-align: center;
}
.sub-image-block {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  &:not(:last-of-type) {
    margin-right: 12px;
  }

  span {
    position: absolute;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px black;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
}