.tiered-background {
  position: fixed;
  height: 0;
}
.tiered-background > img {
  min-width: 1280px;
}
#tiered-background-one {
  bottom: 135px;
  z-index: -101;
}
#tiered-background-two {
  bottom: 190px;
  z-index: -102;
  //opacity: .6;
}
#tiered-background-three {
  bottom: 215px;
  z-index: -103;
  //opacity: .45;
}

/**
      MOBILE
 */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .tiered-background {
    display: none;
  }
}